In [1]:
import pandas as pd
import numpy as np

In [2]:
import requests
from bs4 import BeautifulSoup
# or import bs4 as bs

In [3]:
import re

In [4]:
import json

In [5]:
import xlrd

In [16]:
import pickle

# MySchool website, Sherwood State School

In [5]:
url = "https://www.myschool.edu.au/school/46461/naplan/similar/2017"

# Packages the request, send the request and catch the response: r
r = requests.get(url)

# Extract the response: text
text = r.text

# Print the html
text[:500]

'\r\n<!doctype html>\r\n<html class="no-js" lang="en-AU">\r\n<head>\r\n    <meta charset="utf-8">\r\n    <meta http-equiv="x-ua-compatible" content="ie=edge">\r\n    <title>Similar schools | My School</title>\r\n    <meta name="description" content="">\r\n    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">\r\n    <link rel="icon" href="/favicon.ico" type="image/x-icon">\r\n    <link rel="apple-touch-icon" href="apple-touch-icon.png">\r\n    <!-- Styles -->\r\n    <link rel="stylesh'

In [6]:
# using BeautifulSoup, turn html into cleaner text
soup = BeautifulSoup(text, "lxml")

In [7]:
print(soup.prettify()[:500])

<!DOCTYPE html>
<html class="no-js" lang="en-AU">
 <head>
  <meta charset="utf-8"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <title>
   Similar schools | My School
  </title>
  <meta content="" name="description"/>
  <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
  <link href="/favicon.ico" rel="icon" type="image/x-icon"/>
  <link href="apple-touch-icon.png" rel="apple-touch-icon"/>
  <!-- Styles -->
  <link href="https://cdnjs.cloudflar

In [8]:
# Find all 'script' tags (which define scripts): scripts
scripts = soup.find_all('script')

# Print the school data <script> to the shell
#print(scripts[6])

# Save the school data <script> to a text file

In [9]:
# adding data for POST to retrieve different SchoolYearId, DomainId and ViewModeId
payload = {"SchoolYearId" : "5", "DomainId" : "1", "ViewModeId" : "0"}

# retrieving the above from the same page as r
r510 = requests.post(url, data = payload)

# Extract the response: text
text510 = r510.text

# using BeautifulSoup, turn html into cleaner text
soup510 = BeautifulSoup(text510, "lxml")

In [10]:
# Find all 'script' tags (which define scripts): scripts
scripts510 = soup510.find_all('script')

# Print the head of scipts to the shell
#print(scripts510)

In [11]:
type(scripts[6])

bs4.element.Tag

In [23]:
type(scripts[6].contents[0].string)

bs4.element.NavigableString

In [27]:
# This gives a string which is writable to file
scripts[6].string[:50]

'if (document.addEventListener) {document.addEventL'

In [26]:
# Writing to files
f = open("sherwood310.txt", mode = "w", encoding = "utf-8")
f.write(scripts[6].string)
f.close()

f = open("sherwood510.txt", mode = "w", encoding = "utf-8")
f.write(scripts510[6].string)
f.close()

In [16]:
scripts[6].attrs

{'type': 'text/javascript'}

In [29]:
s310 = scripts[6].string
type(s310)

bs4.element.NavigableString

In [30]:
s310slash =  re.sub(r'\\', '', s310)
s310colq = re.sub(r':"', ':', s310slash)
s310qcomma = re.sub(r'",', ',', s310colq)

In [33]:
s310qcomma[:1000]

'if (document.addEventListener) {document.addEventListener("DOMContentLoaded, function() {createChartnaplanSimilarSchoolsBubble();});} else if (document.attachEvent) {document.attachEvent("onreadystatechange, function(){if (document.readyState === "complete"){document.detachEvent("onreadystatechange, arguments.callee);createChartnaplanSimilarSchoolsBubble();}});}function createChartnaplanSimilarSchoolsBubble() {var ChartOptions = {"credits":{"enabled":false},"exporting":{"enabled":false},"xAxis":[{"endOnTick":true,"min":440,"tickInterval":5,"max":540,"tickLength":0,"title":{"text":Average achievement score,"offset":50},"labels":{"step":2}}],"chart":{"height":408,"style":{"min-width":390px"},"renderTo":naplanSimilarSchoolsBubble"},"yAxis":[{"tickInterval":1,"min":0,"labels":{"enabled":false},"max":12,"title":{"text":Number of schools"},"lineWidth":1}],"tooltip":{"style":{"padding":0,"pointerEvents":auto"},"hideDelay":1000,"formatter":tooltipbuilder,"useHTML":true},"title":{"text":"},"ser'

In [35]:
s310up2data = re.sub(r'.*?data":', '', s310qcomma)
s310up2data[:500]

'[{"x":450,"description":{"schoolId":49793,"mean":449,"lowerMargin":431,"upperMargin":467,"schoolName":Concordia College"},"marker":{"symbol":url(/Content/images/naplan/graphs/bubble-4.png)"},"y":0.5},{"x":450,"description":{"schoolId":45869,"mean":451,"lowerMargin":433,"upperMargin":469,"schoolName":St Bedeu0027s School"},"marker":{"symbol":url(/Content/images/naplan/graphs/bubble-4.png)"},"y":1.5},{"x":455,"description":{"schoolId":41234,"mean":454,"lowerMargin":441,"upperMargin":467,"schoolNam'

In [74]:
s310apostro = re.sub(',"plotOptions(.*)', '', s310up2data)
s310datalist = re.sub("u0027", "'", s310apostro)
print(s310up2data[-500:])
s310datalist[-500:]

00,"upperMargin":551,"schoolName":Toowong State School"},"marker":{"symbol":url(/Content/images/naplan/graphs/bubble-1.png)"},"y":1.5},{"x":530,"description":{"schoolId":44855,"mean":528,"lowerMargin":512,"upperMargin":545,"schoolName":Beverley Hills Primary School"},"marker":{"symbol":url(/Content/images/naplan/graphs/bubble-1.png)"},"y":0.5}]}],"plotOptions":{"series":{"states":{"hover":{"enabled":false}},"marker":{"radius":0}}}};new Highcharts.chart("naplanSimilarSchoolsBubble,ChartOptions);}

'hool"},"marker":{"symbol":url(/Content/images/naplan/graphs/bubble-1.png)"},"y":0.5},{"x":525,"description":{"schoolId":46402,"mean":525,"lowerMargin":500,"upperMargin":551,"schoolName":Toowong State School"},"marker":{"symbol":url(/Content/images/naplan/graphs/bubble-1.png)"},"y":1.5},{"x":530,"description":{"schoolId":44855,"mean":528,"lowerMargin":512,"upperMargin":545,"schoolName":Beverley Hills Primary School"},"marker":{"symbol":url(/Content/images/naplan/graphs/bubble-1.png)"},"y":0.5}]}]'

In [ ]:
f = open('s310datalist.txt', mode = 'w', encoding = 'utf-8')
f.write(s310datalist)

In [79]:
grade = 3
domain = 1
view = 0

year = 2017

In [80]:
schoolIdList = re.findall('schoolId":(\d\d\d\d\d)', s310datalist)
meanList = re.findall('mean":(\d\d\d)', s310datalist)
lowerList = re.findall('lowerMargin":(\d\d\d)', s310datalist)
upperList = re.findall('upperMargin":(\d\d\d)', s310datalist)

sherwood_310_df = pd.DataFrame({'schoolId' : schoolIdList, 'grade' : grade, 
                                'year' : year, 'mean' : meanList, 'lower' : lowerList,
                               'upper' : upperList})

sherwood_310_df.head()

  schoolId  grade  year mean lower upper
0    49793      3  2017  449   431   467
1    45869      3  2017  451   433   469
2    41234      3  2017  454   441   467
3    47690      3  2017  454   439   470
4    46463      3  2017  456   434   477

In [ ]:
sherwood_310_df.to_csv('sherwood_310_df.csv')

In [81]:
# adding data for POST to retrieve similar school list (ViewModeId = 1)
payload = {"SchoolYearId" : "5", "DomainId" : "1", "ViewModeId" : "1"}

# retrieving the above from the same page as r
r511 = requests.post(url, data = payload)

# Extract the response: text
text511 = r511.text

# using BeautifulSoup, turn html into cleaner text
soup511 = BeautifulSoup(text510, "lxml")

In [84]:
f = open('soup511_pretty.html', mode = 'w', encoding = 'utf-8')
f.write(soup511.prettify())
f.close()

In [103]:
scripts511 = soup511.find_all('script')
s311schoolList = scripts511[6].string

In [113]:
scripts511[6].string[-500:]

'\\"schoolName\\":\\"Leichhardt Public School\\"}","marker":{"symbol":"url(/Content/images/naplan/graphs/bubble-2.png)"},"y":0.5},{"x":595,"description":"{\\"schoolId\\":50402,\\"mean\\":593,\\"lowerMargin\\":574,\\"upperMargin\\":612,\\"schoolName\\":\\"Geelong Grammar School\\"}","marker":{"symbol":"url(/Content/images/naplan/graphs/bubble-2.png)"},"y":0.5}]}],"plotOptions":{"series":{"states":{"hover":{"enabled":false}},"marker":{"radius":0}}}};new Highcharts.chart("naplanSimilarSchoolsBubble",ChartOptions);}'

In [117]:
simimlar_schools_2017 = re.findall(r'schoolId\\":(\d\d\d\d\d)', scripts511[6].string)
#simimlar_schools_2017

## School profiles 2008 - 2017

In [6]:
file = "school-profile-2008-2017.xlsx"
xl = pd.read_excel(file, sheet_name="School Profile")
xl.head()

,Calendar Year,ACARA School ID,AGE ID,School Name,Suburb,State,Postcode,School Sector,School Type,Campus Type,...,Teaching Staff,Full Time Equivalent Teaching Staff,Non-Teaching Staff,Full Time Equivalent Non-Teaching Staff,Total Enrolments,Girls Enrolments,Boys Enrolments,Full Time Equivalent Enrolments,Indigenous Enrolments,Language Background Other Than English
0,2008,40000,3.0,Corpus Christi Catholic School,BELLERIVE,TAS,7018,Catholic,Primary,School Single Entity,...,29.0,19.0,12.0,6.9,410.0,185.0,225.0,410.0,1.0,NaN
1,2009,40000,3.0,Corpus Christi Catholic School,BELLERIVE,TAS,7018,Catholic,Primary,School Single Entity,...,27.0,19.1,15.0,8.7,409.0,184.0,225.0,409.0,2.0,3.0
2,2010,40000,3.0,Corpus Christi Catholic School,BELLERIVE,TAS,7018,Catholic,Primary,School Single Entity,...,26.0,18.6,18.0,10.2,392.0,173.0,219.0,392.0,2.0,4.0
3,2011,40000,3.0,Corpus Christi Catholic School,BELLERIVE,TAS,7018,Catholic,Primary,School Single Entity,...,25.0,18.1,16.0,9.0,385.0,173.0,212.0,385.0,0.0,2.0
4,2012,40000,3.0,Corpus Christi Catholic School,BELLERIVE,TAS,7018,Catholic,Primary,School Single Entity,...,24.0,18.1,16.0,9.4,391.0,185.0,206.0,391.0,1.0,5.0

In [8]:
xl.groupby('ACARA School ID')

In [11]:
allSchoolIdsList = xl['ACARA School ID'].unique().tolist();

In [ ]:
pickle_on = open("allSchoolIdsList.pickle", "wb")
pickle.dump(allSchoolIdsList, pickle_on)
pickle_on.close()

In [14]:
xl.to_pickle("allSchoolProfiles_df.pickle")

In [25]:
years = ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']

In [26]:
xl.describe()

,Calendar Year,ACARA School ID,AGE ID,Postcode,ICSEA,Bottom SEA Quarter,Lower Middle SEA Quarter,Upper Middle SEA Quarter,Top SEA Quarter,Teaching Staff,Full Time Equivalent Teaching Staff,Non-Teaching Staff,Full Time Equivalent Non-Teaching Staff,Total Enrolments,Girls Enrolments,Boys Enrolments,Full Time Equivalent Enrolments,Indigenous Enrolments,Language Background Other Than English
count,93080.000000,93080.000000,93007.000000,93080.000000,87588.000000,83348.000000,83348.000000,83348.000000,83348.000000,92479.000000,92479.000000,92436.000000,92436.000000,92378.000000,92376.000000,92376.000000,92377.000000,88979.000000,71208.000000
mean,2012.540718,45343.110120,10257.724988,3747.442168,1000.512353,28.350074,25.049299,24.976544,21.636560,30.803869,28.083741,15.497912,10.814397,392.421518,192.206255,200.247012,389.501501,8.647130,21.197885
std,2.874345,2931.868436,7079.180927,1468.742433,100.053756,23.514190,13.840919,13.097412,21.655661,31.180814,30.292279,17.588374,12.900190,372.492366,202.193440,215.171270,367.597412,17.210745,25.011018
min,2008.000000,40000.000000,3.000000,800.000000,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2010.000000,42813.000000,6522.000000,2540.000000,955.000000,9.000000,16.000000,17.000000,5.000000,11.000000,9.500000,5.000000,3.000000,116.000000,49.000000,54.000000,114.600000,1.000000,4.000000
50%,2013.000000,45311.000000,9920.000000,3341.000000,1004.000000,23.000000,26.000000,26.000000,14.000000,22.000000,19.500000,10.000000,6.600000,293.000000,137.000000,143.000000,291.000000,3.000000,10.000000
75%,2015.000000,47876.000000,13035.000000,4740.000000,1058.000000,43.000000,32.000000,32.000000,31.000000,39.000000,36.000000,19.000000,13.700000,549.000000,261.000000,270.000000,545.200000,8.000000,29.000000
max,2017.000000,52527.000000,84952.000000,7470.000000,1390.000000,100.000000,100.000000,100.000000,100.000000,460.000000,3209.000000,382.000000,202.100000,5600.000000,2847.000000,2835.000000,3754.000000,100.000000,199.000000

In [27]:
xl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93080 entries, 0 to 93079
Data columns (total 29 columns):
Calendar Year                              93080 non-null int64
ACARA School ID                            93080 non-null int64
AGE ID                                     93007 non-null float64
School Name                                93080 non-null object
Suburb                                     93080 non-null object
State                                      93080 non-null object
Postcode                                   93080 non-null int64
School Sector                              93080 non-null object
School Type                                93080 non-null object
Campus Type                                93080 non-null object
Rolled Reporting Description               93080 non-null object
School URL                                 9399 non-null object
Year Range                                 84753 non-null object
Geolocation                                92874 non-null object
ICSEA                                      87588 non-null float64
Bottom SEA Quarter                         83348 non-null float64
Lower Middle SEA Quarter                   83348 non-null float64
Upper Middle SEA Quarter                   83348 non-null float64
Top SEA Quarter                            83348 non-null float64
Teaching Staff                             92479 non-null float64
Full Time Equivalent Teaching Staff        92479 non-null float64
Non-Teaching Staff                         92436 non-null float64
Full Time Equivalent Non-Teaching Staff    92436 non-null float64
Total Enrolments                           92378 non-null float64
Girls Enrolments                           92376 non-null float64
Boys Enrolments                            92376 non-null float64
Full Time Equivalent Enrolments            92377 non-null float64
Indigenous Enrolments                      88979 non-null float64
Language Background Other Than English     71208 non-null float64
dtypes: float64(16), int64(3), object(10)
memory usage: 20.6+ MB

In [65]:
years_int = [int(y) for y in years]
years_int

[2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

In [63]:
all_school_years_df = xl.iloc[:, [0,1]].sort_values(['Calendar Year', 'ACARA School ID']
                                                ).set_index('Calendar Year')

all_school_years_df.head()

               ACARA School ID
Calendar Year
2008                     40000
2008                     40001
2008                     40002
2008                     40003
2008                     40004

In [64]:
all_school_years_df.to_pickle("all_school_years_df.pickle")

In [66]:
year_df = all_school_years.loc[years_int[0]]
one_yr_list = year_df['ACARA School ID'].values.tolist()
one_yr_list[:5]

[40000, 40001, 40002, 40003, 40004]

In [70]:
len('y')

1

In [75]:
for y in '0':
    z = int(y)
    print(z, type(z))

0 <class 'int'>

In [77]:
xl.columns

Index(['Calendar Year', 'ACARA School ID', 'AGE ID', 'School Name', 'Suburb',
       'State', 'Postcode', 'School Sector', 'School Type', 'Campus Type',
       'Rolled Reporting Description', 'School URL', 'Year Range',
       'Geolocation', 'ICSEA', 'Bottom SEA Quarter',
       'Lower Middle SEA Quarter', 'Upper Middle SEA Quarter',
       'Top SEA Quarter', 'Teaching Staff',
       'Full Time Equivalent Teaching Staff', 'Non-Teaching Staff',
       'Full Time Equivalent Non-Teaching Staff', 'Total Enrolments',
       'Girls Enrolments', 'Boys Enrolments',
       'Full Time Equivalent Enrolments', 'Indigenous Enrolments',
       'Language Background Other Than English'],
      dtype='object')

In [83]:
xl.loc[xl['ACARA School ID'] == 41797, :]

,Calendar Year,ACARA School ID,AGE ID,School Name,Suburb,State,Postcode,School Sector,School Type,Campus Type,...,Teaching Staff,Full Time Equivalent Teaching Staff,Non-Teaching Staff,Full Time Equivalent Non-Teaching Staff,Total Enrolments,Girls Enrolments,Boys Enrolments,Full Time Equivalent Enrolments,Indigenous Enrolments,Language Background Other Than English
13344,2008,41797,6413.0,Halinda School,WHALAN,NSW,2770,Government,Special,School Single Entity,...,21.0,21.0,19.0,19.3,106.0,35.0,71.0,106.0,6.0,NaN
13345,2009,41797,6413.0,Halinda School,WHALAN,NSW,2770,Government,Special,School Single Entity,...,20.0,21.2,20.0,19.3,106.0,35.0,71.0,106.0,6.0,NaN
13346,2010,41797,6413.0,Halinda School,WHALAN,NSW,2770,Government,Special,School Single Entity,...,21.0,23.4,23.0,21.3,121.0,39.0,82.0,121.0,5.0,45.0
13347,2011,41797,6413.0,Halinda School,WHALAN,NSW,2770,Government,Special,School Single Entity,...,22.0,23.5,22.0,21.3,119.0,37.0,82.0,119.0,4.0,34.0
13348,2012,41797,6413.0,Halinda School,WHALAN,NSW,2770,Government,Special,School Single Entity,...,21.0,22.4,23.0,21.3,119.0,38.0,81.0,119.0,4.0,58.0
13349,2013,41797,6413.0,Halinda School,WHALAN,NSW,2770,Government,Special,School Single Entity,...,18.0,22.4,23.0,21.3,120.0,40.0,80.0,120.0,6.0,49.0
13350,2014,41797,6413.0,Halinda School,WHALAN,NSW,2770,Government,Special,School Single Entity,...,20.0,22.6,20.0,21.3,117.0,43.0,74.0,117.0,7.0,50.0
13351,2015,41797,6413.0,Halinda School,WHALAN,NSW,2770,Government,Special,School Single Entity,...,21.0,23.5,20.0,22.3,114.0,36.0,78.0,114.0,6.0,50.0
13352,2016,41797,6413.0,Halinda School,WHALAN,NSW,2770,Government,Special,School Single Entity,...,19.0,23.5,20.0,22.3,113.0,32.0,81.0,113.0,8.0,49.0
13353,2017,41797,6413.0,Halinda School,WHALAN,NSW,2770,Government,Special,School Single Entity,...,21.0,23.6,20.0,22.3,114.0,31.0,83.0,114.0,9.0,50.0