In [3]:
import pandas as pd
import numpy as np
import pickle
import os

#import xlrd
#import requests

In [10]:
# setting directories for file loads and saves
logs_dir = "../data/logs/"
raw_dir = "../data/raw/"
load_dir = save_dir = "../data/interim/"
final_dir = "../data/processed/"

In [16]:
# load and process the school profiles 2008 - 2017 spreadsheet as df: xl

file = raw_dir + "school-profile-2008-2017.xlsx"

cols_drop =  ['AGE ID', 'Campus Type',
       'Rolled Reporting Description', 'School URL', 'Year Range',
       'Geolocation', 'Teaching Staff', 'Non-Teaching Staff', 
        'Full Time Equivalent Enrolments']

xl = (pd.read_excel(file, sheet_name="School Profile")
     .drop(labels=cols_drop, axis=1)
      .rename(columns=lambda x: x.replace(" ", "_"))
      .rename(columns=str.lower)
      .rename(mapper = {"acara_school_id" : "school_id",
                        "full_time_equivalent_teaching_staff" : "fte_teachers", 
                        "language_background_other_than_english" : "lote", 
                        "full_time_equivalent_non-teaching_staff" : "fte_other_staff", 
                        "full_time_equivalent_enrolments" : "fte_enrolments"}, axis=1)
     )

# save df 
xl.to_pickle(save_dir + "school_profiles_2008_2017_df.pickle")

xl.head()

,calendar_year,school_id,school_name,suburb,state,postcode,school_sector,school_type,icsea,bottom_sea_quarter,lower_middle_sea_quarter,upper_middle_sea_quarter,top_sea_quarter,fte_teachers,fte_other_staff,total_enrolments,girls_enrolments,boys_enrolments,indigenous_enrolments,lote
0,2008,40000,Corpus Christi Catholic School,BELLERIVE,TAS,7018,Catholic,Primary,1055.0,13.0,19.0,37.0,31.0,19.0,6.9,410.0,185.0,225.0,1.0,NaN
1,2009,40000,Corpus Christi Catholic School,BELLERIVE,TAS,7018,Catholic,Primary,1055.0,13.0,19.0,37.0,31.0,19.1,8.7,409.0,184.0,225.0,2.0,3.0
2,2010,40000,Corpus Christi Catholic School,BELLERIVE,TAS,7018,Catholic,Primary,1044.0,28.0,19.0,30.0,23.0,18.6,10.2,392.0,173.0,219.0,2.0,4.0
3,2011,40000,Corpus Christi Catholic School,BELLERIVE,TAS,7018,Catholic,Primary,1046.0,19.0,30.0,25.0,25.0,18.1,9.0,385.0,173.0,212.0,0.0,2.0
4,2012,40000,Corpus Christi Catholic School,BELLERIVE,TAS,7018,Catholic,Primary,1041.0,9.0,35.0,28.0,28.0,18.1,9.4,391.0,185.0,206.0,1.0,5.0

In [18]:
# functions to generate a school list for a grade, calendar year and school type

In [ ]:
xl.fillna()

In [6]:
# generate a df for use in scraping loop: all_schools_sort_list

all_schools_sort_list = ['calendar_year', 'school_type', 'ACARA School ID']
all_school_years_df = xl.iloc[:, [0,1,8,5]].sort_values(all_schools_sort_list)
all_school_years_df.reset_index(drop=True, inplace=True)

all_school_years_df.to_pickle(save_dir + "all_school_years_df.pickle")

all_school_years_df.fillna()

   Calendar Year  ACARA School ID School Type State
0           2008            40001    Combined   TAS
1           2008            40002    Combined   TAS
2           2008            40005    Combined   TAS
3           2008            40007    Combined   TAS
4           2008            40008    Combined   TAS

In [ ]:
# generate a list of school IDs for one year and school type
school_type = ['Combined', 'Secondary']

one_year_all_schools_list = all_school_years_df.loc[
    (all_school_years_df['Calendar Year'] == years_int[-1]) & 
    (all_school_years_df['School Type'].isin(school_type)), 
                                    'ACARA School ID'].values.tolist()

primary_2017_schoolID_list[:5]