# Loop of clean MySchool results code for scraping all results

In [1]:
import pandas as pd
import numpy as np
import requests
import re
import pickle
import time
import os

In [2]:
# setting directories for file loads and saves
logs_dir = "../data/logs/"
data_dir = "../data/raw/"
load_dir = save_dir = "../data/interim/"
final_dir = "../data/processed/"

## load in reference data files for scraper

In [4]:
# testing directories
all_school_years_df = pd.read_pickle(load_dir + "all_school_years_df.pickle")
all_school_years_df.head()

   Calendar Year  ACARA School ID School Type State
0           2008            40001    Combined   TAS
1           2008            40002    Combined   TAS
2           2008            40005    Combined   TAS
3           2008            40007    Combined   TAS
4           2008            40008    Combined   TAS

## import previously generated School IDs list
The first school ID will be used in the URL and Request to start the loop
* BIG TODO make DF or List of ALL schools for EACH results year! and use below
* TODO write code for accessing latest school profile xlsx file from site and extracting just the 'ACARA School ID' values to a list / df

## global variables here

In [5]:
# params for Request and vars for loops
SchoolYearId = "9"
DomainId = ["1", "2", "4", "5", "6"]
ViewModeId = "0"
years_str = ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']
years_int =  [int(y) for y in years_str]

# DomainId dict 
dict_DomainId = {
    '1' : 'Reading',
    '2' : 'Writing',
    '4' : 'Spelling',
    '5' : 'Grammar and Punctuation',
    '6' : 'Numeracy'
    }

In [9]:

# initialise remaining schools IDs list 
# in first phase, only generate a list for one year and school type
school_type = ['Combined', 'Secondary']
               
one_year_all_schools_list = all_school_years_df.loc[
    (all_school_years_df['Calendar Year'] == years_int[-1]) & 
    (all_school_years_df['School Type'].isin(school_type)), 
                                        'ACARA School ID'].values.tolist()

remaining_schools_list = one_year_all_schools_list

# initialise DF
df_columns = ['schoolId', 'grade', 'year', 'domain', 'mean', 'lower', 'upper']
df_dtypes = {'schoolId' : int, 'grade' : int, 'year' : int, 'domain' : str,
             'mean': int, 'lower': int, 'upper': int}
results_df = pd.DataFrame(columns = df_columns)

# initialise test vars
last_school = 1
next_school = 'none'

### Re-initialise starting vars with mid-run values here

In [ ]:
# Vars to change to restart scrape from middle of run
# load previously scraped results df
results_df = pd.read_csv("Courses/myschool/40151_results_df.csv")

# re-initialise test vars
last_school = 1

In [ ]:
# load shool IDs list and pop errored 
f = open("remaining_schools_list.pickle", "rb")
remaining_schools_list = pickle.load(f)
f.close()

remaining_schools_list.pop(0)

#check test vars not equal
print('next: ',remaining_schools_list[0])
last_school = 1

In [ ]:
last_school = 1
remaining_schools_list[:5]

## Loop starts here

In [10]:
# initialise log file with run info
log = open(logs_dir + "log_myschools_runs.txt", "a+")
log.write('\r\n----New Run---- starting with next school: ' + next_school + '\r\n')
# TODO add proper logging to project and or add DateTime stamp
log.close()
    
# Outer Loop for ALL schools starts here
while len(remaining_schools_list) > 0:
    
    # check that there are still schools remaining
    if len(remaining_schools_list) == 0:
        break
        
        
    #setting a check var for infinite loop
    last_school = next_school
    
    #select the next school ID for url request
    next_school = str(remaining_schools_list[0])
    
    print('remaining schools:', len(remaining_schools_list),
     'next school:', next_school)
    
    log = open(logs_dir + "log_myschools_runs.txt", "a+")
    log.write('remaining schools: ' + str(len(remaining_schools_list)) 
              + ', next school: ' + str(next_school) + '\n')
    log.close()
    
    
    #check that we are not in a loop over the same school
    if next_school == last_school:
        #write current data sets to file and then break download loop
        results_df.to_csv(save_dir + last_school + "_results_df.csv")
        
        pickle_on = open(save_dir + "remaining_schools_list.pickle", "wb")
        pickle.dump(remaining_schools_list, pickle_on)
        pickle_on.close()
        
        f = open(logs_dir + last_school + "_error_text.html", "w+")
        f.write(text)
        f.close()
        
        break

    time.sleep(1)
    
    # Inner loop 1 for ALL years loop starts here
    #for y in range(len(years_str)):
#    for y in '0':
# CURRENTLY YEAR loop commented out for testing
    url_year = years_str[-1]        
#    time.sleep(1)
    #print('Year: ', url_year)


    # Inner loop 2 for ALL domains loop starts here 
    for d in range(len(DomainId)):
        # Loop variables here
        similar_schools_list = []
        mean_list = []
        lower_list = []
        upper_list = []

        # URL generation here
        url = ("https://www.myschool.edu.au/school/" 
               + next_school
               + "/naplan/similar/"
               + url_year)
        #print(url)

        # adding data for POST to retrieve similar school list (ViewModeId = 1)
        payload = {"SchoolYearId" : SchoolYearId, 
                   "DomainId" : DomainId[d], 
                   "ViewModeId" : ViewModeId}
        #print(payload)

        # Packages the request, send the request and catch the response: r
        r = requests.post(url, data = payload)

        # Extract the response: text
        text = r.text

        # check returned text is not an error page
        # if it is an error page then try removing that schoolID and retry
        if (len(re.findall('Server Error', text)) > 0 or
            len(re.findall('Page Not Found', text)) > 0):
            #remove errored schoolId from list, retry
            remaining_schools_list.pop(0)
            #set next_school value to foo so it doesn't break loop check
            next_school = 'foo'

            break

        else:
            # RE to scrape all the results from the request
            similar_schools_list = re.findall(r'schoolId\\":(\d*)', text)
            similar_schools_list = [int(i) for i in similar_schools_list]
            mean_list = re.findall(r'mean\\":(\d*)', text)
            mean_list = [int(i) for i in mean_list]
            lower_list = re.findall(r'lowerMargin\\":(\d*)', text)
            lower_list = [int(i) for i in lower_list]
            upper_list = re.findall(r'upperMargin\\":(\d*)', text)
            upper_list = [int(i) for i in upper_list]

            # make the df from the results
            temp_results_df = pd.DataFrame({'schoolId' : similar_schools_list, 
                                            'grade' : int(SchoolYearId), 
                                            'year' : int(url_year),
                                            'domain' : dict_DomainId[DomainId[d]],
                                            'mean' : mean_list, 
                                            'lower' : lower_list,
                                            'upper' : upper_list}
                                     ).sort_values(['schoolId'])

            results_df = results_df.append(temp_results_df, ignore_index=True)
            #print('size of results_df:', len(results_df['schoolId']))
            #print('---------\n')

        #print('\n-----------\n----------\nEnd ofallALL DOMAINS loop')
        
    # remove this group of schools from the all school ids list
    remaining_schools_list = [x for x in remaining_schools_list if x not in similar_schools_list]

        
        
    #print(remaining_schools_list[:5])
    #print('\n-------------------------------\nEnd of all YEARS loop')
    
print('----End of Scrape!----')

results_df.to_csv(final_dir + "2017_year_9_results_df.csv")

remaining schools: 2832 next school: 40001
remaining schools: 2815 next school: 40002
remaining schools: 2798 next school: 40005
remaining schools: 2785 next school: 40007
remaining schools: 2771 next school: 40008
remaining schools: 2757 next school: 40022
remaining schools: 2742 next school: 40025
remaining schools: 2725 next school: 40026
remaining schools: 2708 next school: 40028
remaining schools: 2699 next school: 40029
remaining schools: 2680 next school: 40031
remaining schools: 2665 next school: 40032
remaining schools: 2647 next school: 40033
remaining schools: 2628 next school: 40036
remaining schools: 2613 next school: 40043
remaining schools: 2593 next school: 40044
remaining schools: 2579 next school: 40046
remaining schools: 2569 next school: 40047
remaining schools: 2553 next school: 40056
remaining schools: 2552 next school: 40060
remaining schools: 2551 next school: 40062
remaining schools: 2535 next school: 40064
remaining schools: 2524 next school: 40066
remaining schools: 2509 next school: 40067
remaining schools: 2494 next school: 40069
remaining schools: 2478 next school: 40075
remaining schools: 2462 next school: 40088
remaining schools: 2441 next school: 40138
remaining schools: 2428 next school: 40165
remaining schools: 2417 next school: 40182
remaining schools: 2402 next school: 40231
remaining schools: 2394 next school: 40236
remaining schools: 2371 next school: 40237
remaining schools: 2351 next school: 40238
remaining schools: 2334 next school: 40242
remaining schools: 2324 next school: 40244
remaining schools: 2309 next school: 40245
remaining schools: 2293 next school: 40254
remaining schools: 2292 next school: 40257
remaining schools: 2270 next school: 40259
remaining schools: 2253 next school: 40261
remaining schools: 2252 next school: 40270
remaining schools: 2234 next school: 40275
remaining schools: 2217 next school: 40281
remaining schools: 2195 next school: 40328
remaining schools: 2184 next school: 40333
remaining schools: 2183 next school: 40334
remaining schools: 2162 next school: 40341
remaining schools: 2161 next school: 40342
remaining schools: 2160 next school: 40343
remaining schools: 2147 next school: 40347
remaining schools: 2131 next school: 40351
remaining schools: 2119 next school: 40357
remaining schools: 2103 next school: 40367
remaining schools: 2075 next school: 40369
remaining schools: 2058 next school: 40672
remaining schools: 2043 next school: 40674
remaining schools: 2042 next school: 40685
remaining schools: 2022 next school: 40688
remaining schools: 2021 next school: 40721
remaining schools: 2012 next school: 40765
remaining schools: 2000 next school: 40767
remaining schools: 1982 next school: 40788
remaining schools: 1970 next school: 40814
remaining schools: 1954 next school: 40827
remaining schools: 1937 next school: 40836
remaining schools: 1927 next school: 40849
remaining schools: 1926 next school: 40921
remaining schools: 1910 next school: 40926
remaining schools: 1897 next school: 40958
remaining schools: 1883 next school: 40961
remaining schools: 1870 next school: 41166
remaining schools: 1859 next school: 41184
remaining schools: 1842 next school: 42103
remaining schools: 1831 next school: 42155
remaining schools: 1820 next school: 42158
remaining schools: 1811 next school: 42159
remaining schools: 1805 next school: 42212
remaining schools: 1783 next school: 42214
remaining schools: 1782 next school: 42268
remaining schools: 1762 next school: 42320
remaining schools: 1751 next school: 42431
remaining schools: 1750 next school: 42439
remaining schools: 1742 next school: 42458
remaining schools: 1741 next school: 42533
remaining schools: 1740 next school: 42540
remaining schools: 1729 next school: 42560
remaining schools: 1721 next school: 42580
remaining schools: 1711 next school: 42615
remaining schools: 1710 next school: 42619
remaining schools: 1709 next school: 42629
remaining schools: 1693 next school: 42630
remaining schools: 1692 next school: 42633
remaining schools: 1675 next school: 42739
remaining schools: 1667 next school: 42945
remaining schools: 1666 next school: 42949
remaining schools: 1653 next school: 42986
remaining schools: 1643 next school: 42989
remaining schools: 1642 next school: 42998
remaining schools: 1641 next school: 43010
remaining schools: 1639 next school: 43040
remaining schools: 1638 next school: 43044
remaining schools: 1626 next school: 43054
remaining schools: 1625 next school: 43134
remaining schools: 1610 next school: 43135
remaining schools: 1594 next school: 43146
remaining schools: 1580 next school: 43149
remaining schools: 1579 next school: 43153
remaining schools: 1573 next school: 43266
remaining schools: 1561 next school: 43464
remaining schools: 1545 next school: 43482
remaining schools: 1531 next school: 43553
remaining schools: 1512 next school: 43636
remaining schools: 1496 next school: 43649
remaining schools: 1490 next school: 43655
remaining schools: 1476 next school: 43656
remaining schools: 1464 next school: 43662
remaining schools: 1450 next school: 43666
remaining schools: 1434 next school: 43667
remaining schools: 1433 next school: 43671
remaining schools: 1424 next school: 43678
remaining schools: 1407 next school: 43684
remaining schools: 1400 next school: 43699
remaining schools: 1399 next school: 43708
remaining schools: 1398 next school: 43712
remaining schools: 1397 next school: 43713
remaining schools: 1379 next school: 43714
remaining schools: 1378 next school: 43716
remaining schools: 1377 next school: 43725
remaining schools: 1376 next school: 43731
remaining schools: 1365 next school: 43744
remaining schools: 1353 next school: 43753
remaining schools: 1347 next school: 43755
remaining schools: 1346 next school: 43758
remaining schools: 1334 next school: 43761
remaining schools: 1324 next school: 43765
remaining schools: 1323 next school: 43767
remaining schools: 1310 next school: 43780
remaining schools: 1309 next school: 43783
remaining schools: 1295 next school: 43785
remaining schools: 1294 next school: 43794
remaining schools: 1287 next school: 43795
remaining schools: 1286 next school: 43802
remaining schools: 1272 next school: 43806
remaining schools: 1251 next school: 43808
remaining schools: 1242 next school: 43810
remaining schools: 1241 next school: 43812
remaining schools: 1232 next school: 43820
remaining schools: 1225 next school: 43821
remaining schools: 1203 next school: 43831
remaining schools: 1186 next school: 43836
remaining schools: 1174 next school: 43839
remaining schools: 1170 next school: 43844
remaining schools: 1159 next school: 43847
remaining schools: 1143 next school: 43863
remaining schools: 1128 next school: 43867
remaining schools: 1111 next school: 43874
remaining schools: 1102 next school: 43879
remaining schools: 1084 next school: 43889
remaining schools: 1066 next school: 43891
remaining schools: 1057 next school: 43920
remaining schools: 1052 next school: 43923
remaining schools: 1034 next school: 43946
remaining schools: 1023 next school: 43951
remaining schools: 1011 next school: 43953
remaining schools: 1007 next school: 43960
remaining schools: 997 next school: 43962
remaining schools: 992 next school: 43964
remaining schools: 985 next school: 43967
remaining schools: 984 next school: 43973
remaining schools: 975 next school: 43985
remaining schools: 970 next school: 43988
remaining schools: 969 next school: 44009
remaining schools: 968 next school: 44010
remaining schools: 961 next school: 44021
remaining schools: 960 next school: 44149
remaining schools: 945 next school: 44346
remaining schools: 930 next school: 44670
remaining schools: 929 next school: 45159
remaining schools: 922 next school: 45183
remaining schools: 908 next school: 45222
remaining schools: 903 next school: 45248
remaining schools: 885 next school: 45268
remaining schools: 884 next school: 45304
remaining schools: 873 next school: 45306
remaining schools: 862 next school: 45316
remaining schools: 848 next school: 45318
remaining schools: 847 next school: 45319
remaining schools: 836 next school: 45322
remaining schools: 833 next school: 45323
remaining schools: 826 next school: 45400
remaining schools: 809 next school: 45409
remaining schools: 799 next school: 45568
remaining schools: 793 next school: 45569
remaining schools: 787 next school: 45575
remaining schools: 775 next school: 45580
remaining schools: 764 next school: 45581
remaining schools: 745 next school: 45585
remaining schools: 739 next school: 45602
remaining schools: 732 next school: 45660
remaining schools: 720 next school: 45695
remaining schools: 719 next school: 46112
remaining schools: 713 next school: 46179
remaining schools: 712 next school: 46184
remaining schools: 709 next school: 46215
remaining schools: 708 next school: 46219
remaining schools: 703 next school: 46230
remaining schools: 702 next school: 46259
remaining schools: 701 next school: 46267
remaining schools: 693 next school: 46289
remaining schools: 676 next school: 46304
remaining schools: 675 next school: 46306
remaining schools: 674 next school: 46313
remaining schools: 673 next school: 46318
remaining schools: 672 next school: 46327
remaining schools: 665 next school: 46345
remaining schools: 664 next school: 46360
remaining schools: 663 next school: 46371
remaining schools: 653 next school: 46476
remaining schools: 643 next school: 46505
remaining schools: 642 next school: 46523
remaining schools: 636 next school: 46598
remaining schools: 635 next school: 46618
remaining schools: 624 next school: 46627
remaining schools: 623 next school: 46658
remaining schools: 622 next school: 46670
remaining schools: 618 next school: 46675
remaining schools: 617 next school: 46716
remaining schools: 616 next school: 46749
remaining schools: 615 next school: 46757
remaining schools: 614 next school: 46772
remaining schools: 613 next school: 46791
remaining schools: 612 next school: 46794
remaining schools: 611 next school: 46843
remaining schools: 610 next school: 46871
remaining schools: 609 next school: 46965
remaining schools: 608 next school: 46983
remaining schools: 607 next school: 47097
remaining schools: 603 next school: 47182
remaining schools: 598 next school: 47196
remaining schools: 597 next school: 47200
remaining schools: 589 next school: 47331
remaining schools: 588 next school: 47429
remaining schools: 575 next school: 47572
remaining schools: 574 next school: 47622
remaining schools: 573 next school: 47624
remaining schools: 571 next school: 47626
remaining schools: 557 next school: 47627
remaining schools: 556 next school: 47628
remaining schools: 555 next school: 47824
remaining schools: 549 next school: 47892
remaining schools: 547 next school: 47912
remaining schools: 545 next school: 47946
remaining schools: 543 next school: 47947
remaining schools: 541 next school: 47949
remaining schools: 540 next school: 47956
remaining schools: 529 next school: 47960
remaining schools: 528 next school: 47969
remaining schools: 527 next school: 47984
remaining schools: 526 next school: 48028
remaining schools: 525 next school: 48042
remaining schools: 524 next school: 48064
remaining schools: 523 next school: 48085
remaining schools: 522 next school: 48091
remaining schools: 521 next school: 48095
remaining schools: 520 next school: 48162
remaining schools: 514 next school: 48169
remaining schools: 505 next school: 48171
remaining schools: 504 next school: 48172
remaining schools: 494 next school: 48176
remaining schools: 493 next school: 48180
remaining schools: 492 next school: 48184
remaining schools: 491 next school: 48186
remaining schools: 490 next school: 48187
remaining schools: 489 next school: 48190
remaining schools: 488 next school: 48192
remaining schools: 487 next school: 48198
remaining schools: 483 next school: 48231
remaining schools: 482 next school: 48234
remaining schools: 481 next school: 48288
remaining schools: 480 next school: 48292
remaining schools: 479 next school: 48373
remaining schools: 478 next school: 48401
remaining schools: 477 next school: 48404
remaining schools: 476 next school: 48409
remaining schools: 475 next school: 48429
remaining schools: 474 next school: 48437
remaining schools: 473 next school: 48443
remaining schools: 472 next school: 48473
remaining schools: 471 next school: 48477
remaining schools: 470 next school: 48535
remaining schools: 469 next school: 48544
remaining schools: 468 next school: 48613
remaining schools: 467 next school: 48621
remaining schools: 466 next school: 48628
remaining schools: 465 next school: 48672
remaining schools: 464 next school: 48689
remaining schools: 463 next school: 48710
remaining schools: 462 next school: 48761
remaining schools: 461 next school: 48765
remaining schools: 460 next school: 48789
remaining schools: 459 next school: 48795
remaining schools: 458 next school: 48796
remaining schools: 457 next school: 48797
remaining schools: 456 next school: 48798
remaining schools: 455 next school: 48869
remaining schools: 454 next school: 48914
remaining schools: 453 next school: 48973
remaining schools: 452 next school: 48974
remaining schools: 451 next school: 49029
remaining schools: 450 next school: 49043
remaining schools: 449 next school: 49044
remaining schools: 448 next school: 49047
remaining schools: 447 next school: 49053
remaining schools: 446 next school: 49055
remaining schools: 443 next school: 49059
remaining schools: 442 next school: 49061
remaining schools: 441 next school: 49065
remaining schools: 440 next school: 49070
remaining schools: 439 next school: 49074
remaining schools: 438 next school: 49090
remaining schools: 437 next school: 49098
remaining schools: 436 next school: 49099
remaining schools: 435 next school: 49116
remaining schools: 434 next school: 49129
remaining schools: 433 next school: 49138
remaining schools: 432 next school: 49150
remaining schools: 431 next school: 49163
remaining schools: 426 next school: 49187
remaining schools: 425 next school: 49216
remaining schools: 424 next school: 49226
remaining schools: 423 next school: 49265
remaining schools: 422 next school: 49313
remaining schools: 421 next school: 49321
remaining schools: 420 next school: 49357
remaining schools: 416 next school: 49426
remaining schools: 415 next school: 49430
remaining schools: 411 next school: 49431
remaining schools: 410 next school: 49433
remaining schools: 409 next school: 49440
remaining schools: 408 next school: 49550
remaining schools: 407 next school: 49560
remaining schools: 406 next school: 49561
remaining schools: 405 next school: 49565
remaining schools: 404 next school: 49575
remaining schools: 403 next school: 49601
remaining schools: 402 next school: 49602
remaining schools: 401 next school: 49618
remaining schools: 400 next school: 49626
remaining schools: 399 next school: 49654
remaining schools: 398 next school: 49655
remaining schools: 397 next school: 49665
remaining schools: 396 next school: 49669
remaining schools: 395 next school: 49670
remaining schools: 394 next school: 49681
remaining schools: 393 next school: 49789
remaining schools: 392 next school: 49813
remaining schools: 391 next school: 49819
remaining schools: 390 next school: 49825
remaining schools: 389 next school: 49848
remaining schools: 388 next school: 50008
remaining schools: 377 next school: 50054
remaining schools: 376 next school: 50055
remaining schools: 372 next school: 50058
remaining schools: 367 next school: 50059
remaining schools: 366 next school: 50060
remaining schools: 364 next school: 50061
remaining schools: 363 next school: 50067
remaining schools: 362 next school: 50071
remaining schools: 361 next school: 50074
remaining schools: 360 next school: 50075
remaining schools: 359 next school: 50078
remaining schools: 358 next school: 50079
remaining schools: 357 next school: 50081
remaining schools: 356 next school: 50082
remaining schools: 355 next school: 50083
remaining schools: 354 next school: 50084
remaining schools: 353 next school: 50089
remaining schools: 352 next school: 50090
remaining schools: 351 next school: 50092
remaining schools: 350 next school: 50093
remaining schools: 349 next school: 50094
remaining schools: 348 next school: 50095
remaining schools: 347 next school: 50097
remaining schools: 346 next school: 50098
remaining schools: 345 next school: 50099
remaining schools: 344 next school: 50100
remaining schools: 343 next school: 50102
remaining schools: 342 next school: 50103
remaining schools: 341 next school: 50105
remaining schools: 340 next school: 50106
remaining schools: 339 next school: 50107
remaining schools: 338 next school: 50108
remaining schools: 337 next school: 50109
remaining schools: 336 next school: 50110
remaining schools: 335 next school: 50111
remaining schools: 334 next school: 50112
remaining schools: 333 next school: 50113
remaining schools: 332 next school: 50114
remaining schools: 331 next school: 50116
remaining schools: 330 next school: 50117
remaining schools: 329 next school: 50118
remaining schools: 328 next school: 50119
remaining schools: 327 next school: 50120
remaining schools: 326 next school: 50121
remaining schools: 325 next school: 50122
remaining schools: 324 next school: 50123
remaining schools: 323 next school: 50124
remaining schools: 322 next school: 50125
remaining schools: 321 next school: 50129
remaining schools: 320 next school: 50130
remaining schools: 319 next school: 50131
remaining schools: 318 next school: 50132
remaining schools: 317 next school: 50133
remaining schools: 316 next school: 50134
remaining schools: 315 next school: 50135
remaining schools: 314 next school: 50136
remaining schools: 313 next school: 50138
remaining schools: 312 next school: 50139
remaining schools: 311 next school: 50145
remaining schools: 310 next school: 50163
remaining schools: 309 next school: 50215
remaining schools: 308 next school: 50281
remaining schools: 307 next school: 50362
remaining schools: 306 next school: 50390
remaining schools: 304 next school: 50409
remaining schools: 303 next school: 50475
remaining schools: 302 next school: 50513
remaining schools: 301 next school: 50570
remaining schools: 300 next school: 50594
remaining schools: 299 next school: 50602
remaining schools: 298 next school: 50700
remaining schools: 297 next school: 50702
remaining schools: 296 next school: 51469
remaining schools: 295 next school: 51494
remaining schools: 294 next school: 51501
remaining schools: 293 next school: 51511
remaining schools: 292 next school: 52117
remaining schools: 291 next school: 52211
remaining schools: 290 next school: 52256
remaining schools: 289 next school: 52257
remaining schools: 288 next school: 52366
remaining schools: 287 next school: 52392
remaining schools: 286 next school: 52446
remaining schools: 285 next school: 52468
remaining schools: 276 next school: 52475
remaining schools: 275 next school: 52488
remaining schools: 270 next school: 52500
remaining schools: 269 next school: 52512
remaining schools: 268 next school: 40309
remaining schools: 267 next school: 40320
remaining schools: 266 next school: 40321
remaining schools: 265 next school: 40322
remaining schools: 264 next school: 40330
remaining schools: 263 next school: 40337
remaining schools: 262 next school: 40338
remaining schools: 261 next school: 40339
remaining schools: 260 next school: 40356
remaining schools: 259 next school: 40372
remaining schools: 258 next school: 40406
remaining schools: 257 next school: 40421
remaining schools: 256 next school: 40422
remaining schools: 255 next school: 40423
remaining schools: 254 next school: 40429
remaining schools: 253 next school: 40430
remaining schools: 252 next school: 40436
remaining schools: 251 next school: 40437
remaining schools: 250 next school: 40438
remaining schools: 249 next school: 40440
remaining schools: 248 next school: 40441
remaining schools: 247 next school: 40443
remaining schools: 246 next school: 40444

In [ ]:
# Upon error above, save current results and sub-results by running this
results_df.to_csv(last_school + "_results_df.csv")

pickle_on = open(save_dir + "remaining_schools_list.pickle", "wb")
pickle.dump(remaining_schools_list, pickle_on)
pickle_on.close()

f = open(save_dir + last_school + "_error_text.html", "w+")
f.write(text)
f.close()

In [ ]:
# common error: ValueError: arrays must all be same length
# check that results lists have the same length
print(len(similar_schools_list), len(mean_list), 
      len(lower_list), len(upper_list))

In [14]:
results_df.to_csv(final_dir + "2017_year_9_results_df.csv")

In [13]:
results_df.head()

  schoolId grade  year   domain mean lower upper
0    40001     7  2017  Reading  589   572   606
1    41180     7  2017  Reading  588   579   596
2    43478     7  2017  Reading  570   560   581
3    43877     7  2017  Reading  595   588   603
4    43978     7  2017  Reading  577   566   587

In [ ]:
# if you can correct results from errored run, then append df
temp_results_df = pd.DataFrame({'schoolId' : similar_schools_list, 
                                            'grade' : int(SchoolYearId), 
                                            'year' : int(url_year),
                                            'domain' : dict_DomainId[DomainId[d]],
                                            'mean' : mean_list, 
                                            'lower' : lower_list,
                                            'upper' : upper_list}
                                     ).sort_values(['schoolId'])

results_df = results_df.append(temp_results_df, ignore_index=True)

In [15]:
results_df.tail(5)

      schoolId grade  year                   domain mean lower upper
24300    50227     7  2017                  Reading  514   474   553
24301    50227     7  2017                  Writing  527   482   572
24302    50227     7  2017                 Spelling  540   498   582
24303    50227     7  2017  Grammar and Punctuation  560   515   605
24304    50227     7  2017                 Numeracy  590   554   626

In [ ]:
results_df.info()

In [ ]:
temp_results_df = pd.DataFrame({'schoolId' : '41798', 
                                'grade' : int(SchoolYearId), 
                                'year' : int(url_year),
                                'domain' : 'Numeracy',
                                'mean' : '412', 
                                'lower' : '372',
                                'upper' : '453'}, index=[42976]
                                     )

results_df = results_df.append(temp_results_df, ignore_index=True)

In [ ]:
one_year_all_schools_df = all_school_years_df.loc[years_int[-1]]
one_year_all_schools_list = one_year_all_schools_df['ACARA School ID'].values.tolist()
remaining_schools_list = ([x for x in one_year_all_schools_list 
                           if x not in results_df['schoolId'].values.tolist()])
print(len(one_year_all_schools_list), len(remaining_schools_list))
remaining_schools_list[:10]

In [ ]:
remaining_schools_list = [x for x in remaining_schools_list if x > 41725]
print(len(one_year_all_schools_list), len(remaining_schools_list))
remaining_schools_list[:10]

In [ ]:
del remaining_schools_list[:8]
remaining_schools_list[:10]